<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo-video-catalog.css">
<!--

TemplateMo 552 Video Catalog

https://templatemo.com/tm-552-video-catalog

-->
</head>
<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">
			<div class="potition-absolute tm-site-header">
				<div class="container-fluid position-relative">
					<div class="row">
                        <div class="col-7 col-md-4">
                            <a href="/" class="tm-bg-black text-center tm-logo-container">
                                <i class="fas fa-info-circle tm-site-logo mb-3"></i>
                                <h1 class="tm-site-name"><%= title %></h1>
                            </a>
                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">
                                <nav class="navbar navbar-expand-lg mr-0 ml-auto" id="tm-main-nav">
                                    <button class="navbar-toggler tm-bg-black py-2 px-3 mr-0 ml-auto collapsed" type="button"
                                        data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span>
                                            <i class="fas fa-bars tm-menu-closed-icon"></i>
                                            <i class="fas fa-times tm-menu-opened-icon"></i>
                                        </span>
                                    </button>
                                    <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                                        <ul class="navbar-nav text-uppercase">
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link" href="/">Videos</a>
                                            </li>
																						<li class="nav-item">
                                                <a class="nav-link tm-nav-link" href="users/profile">CPanel</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link tm-nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link" href="/contact">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-2">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 text-white mx-auto">Our Mission:<br>To Create Profitable Traders And Impact Lives</p>
				</div>
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
		</div>

		<!-- Page content -->
		<main>
			<div class="container-fluid px-0">
				<div class="mx-auto tm-content-container">
					<div class="row mt-3 mb-5 pb-3">
						<div class="col-12">
							<div class="mx-auto tm-about-text-container px-3">
								<h2 class="tm-page-title mb-4 tm-text-primary">About <%= title %></h2>
								<p class="mb-4">Founded by Tanaka Marango, engineer by profession and self made trader.
									 Formal education isn't all there is to life, especially in these times where unemployment rate continues soaring upwards and salaries are barely enough to sustain families.
									  Here is a lucrative alternative that can help you go places with no prerequisite formal education. The Foreign Exchange Market.
									 With the right tutoring and coaching, you too can become a proficient and profitable trader.</p>
								<p class="mb-4">Online Forex Trading is a legitimate and legal way to make money from FOREX price movement done in the comfort of your home or office.
								With an internet connection and your preferred internet capable device, you can start trading today, and <%= title %> will assist along the way.</p>
								<p class="mb-4"><%= title %> offers a 3 part tutorship package starting from the basics to indepth trading strategies to practical approach with application of concepts to charts and the market.
									 We also have mentorship/practical coaching which includes guided trading, weekly market reviews and signals, and question and answer sessions.</p>
								<p class="mb-0">This site contains video lectures on Online Forex Trading. For more information and assistance, contacts are available and you can also use the contact form on the contact page.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="parallax-window" data-parallax="scroll" data-image-src="img/about-2.jpg"></div>

				<div class="mx-auto tm-content-container mt-4 px-3">
					<div class="row tm-catalog-item-list mb-4">
		                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
		                    <div class="tm-bg-gray p-4">
		                        <i class="fas fa-traffic-light fa-5x p-3 mb-4 tm-about-icon"></i>
		                        <h3 class="tm-text-primary mb-3">Get Signals</h3>
		                        <p>We can also give you regular signals on FOREX and Indices. Relieve yourself from the pressure of analysing charts and following the market 24/7. We analyse and you make profit on the market.</p>
		                    </div>
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
		                    <div class="tm-bg-gray p-4">
		                        <i class="fas fa-chart-bar fa-5x p-3 mb-4 tm-about-icon"></i>
		                        <h3 class="tm-text-primary mb-3">Weekly Review Of FOREX And Indices Markets</h3>
		                        <p>Weekly reviews of FOREX and Indices market available in video format and on group chat hosted by <%= title %>. This will help you stay on top of the game.</p>
		                    </div>
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
		                    <div class="tm-bg-gray p-4">
		                        <i class="fas fa-film fa-5x p-3 mb-4 tm-about-icon"></i>
		                        <h3 class="tm-text-primary mb-3">Video Tutorials</h3>
		                        <p>Videos tutorials are available for streaming for subscribers. A variety of topics are covered, from basics to advanced FOREX trading skills. Go to CPanel and start your subscription now.</p>
		                    </div>
		                </div>
		            </div>
				</div>

				<div class="parallax-window" data-parallax="scroll" data-image-src="img/about-3.jpg"></div>
			</div>
		</main>

		<%- include('partials/subscribe') %>
	</div>

	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.min.js"></script>
		<script src="js/custom.min.js"></script>
</body>
</html>
